body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle, rgb(53, 53, 53) 0%, rgb(22, 22, 22) 100%);
  position:relative;
  overflow: hidden; /* This prevents scrolling */
}

.display-none{
  display:none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  margin: 0;
  padding: 0;
  z-index: 1000;
}

#curtains {
  width: 100.5%;       /* Force full width of header */
  height: 22vh;      /* Set any custom height (will stretch) */
  object-fit: fill;   /* Ignore aspect ratio (distort image) */
  display: block;
  position: absolute;
  top: -0.6vh;
  left: -0.2vw;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 10vh;
  z-index: 1000;
}

#seats{
  position: absolute;
  bottom: -8vh;
  left: -8vw;
  width: 115%;
  height: 35vh;
}

#join-stage{
  position: absolute;
  right: -8vw;
  bottom: -18vh;
  width: 110vw;
  height: 80vh;
  z-index: 1;
}
#join-curtains{
  position: absolute;
  left: -1vw;
  width: 80vw;
  height: 77vh;
  z-index: 2;
}

#gaem-tiem-logo{
  position:absolute;
  z-index: 2001;
  top: 1vh;
  right: 1vh;
  width: 5vw;
}

#waiting{
  position:absolute;
  color: white;
  font-size: 5.75vw;
  top: 2vw;
  left: 22vw;
  z-index: 2000;
  margin:0px;
  padding:0px;
}

#join-code{
  position:absolute;
  border: solid black;
  backdrop-filter:blur(15px);
  text-align: center;
  font-size: 3vw;
  color: white;
  right: 1vh;
  top: 1vh;
  z-index: 2000;
  padding: 1vh 5vh;
  border-radius: 1vh;
}

#join-link{
  color: white;
  transition: color 0.15s;
}

#join-link:hover{
  color: rgb(101, 212, 249);
  text-decoration: underline;
}

#players-join-container{
  position:absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 45vh;
  z-index: 1000;
  padding: 1vh;
  display:flex;
  gap: 2.6vh;
}

.player{
  height: 20vh;
  width: 20vh;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
  border: solid black 0.4vh;
  border-radius: 1vh;
  font-size: 3vh;
  animation: rank 1s;
  animation-fill-mode: forwards;
}
.player-1{
  background-color: red;
}
.player-2{
  background-color: blue;
}
.player-3{
  background-color: yellow;
}
.player-4{
  background-color: green;
}
.player-5{
  background-color: orange;
}
.player-6{
  background-color: violet;
}
.player-7{
  background-color: turquoise;
}
.player-8{
  background-color: pink;
}

.host-controls{
  position: absolute;
  z-index: 3000;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 80vh;
  width: 20vw;
  height: 10vh;
  border-radius: 5vh;
  border: solid rgb(110, 110, 110) 4px;
  color: rgb(110, 110, 110);
  font-size: 3vh;
  transition: 0.15s;
}

.host-controls:hover{
  border-width: 8px;
  font-weight: bold;
  color: white;
  background-color: rgb(110, 110, 110);
}

#prompting-stage{
  position: absolute;
  right: -8vw;
  bottom: 12vh;
  width: 55vw;
  height: 40vh;
}

#prompting-guide{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5vw;
  top: 10vw;
  text-align: center;
  z-index: 2000;
  margin:0px;
  padding:0px;
}

#prompting-count{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4vw;
  top: 25vw;
  text-align: center;
  z-index: 2000;
  margin:0px;
  padding:0px;
}

#logo-transition{
  position:absolute;
  background-color: black;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  opacity: 0;
  animation: fadeinout 6s;
  animation-fill-mode: forwards;
}

#logo-transition img{
  width: 50%;
  position: absolute;
  left: 51%;
  top: 45%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeinout 6s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeinout {
  0%{ 
    opacity: 0;  
  }
  10%{
    opacity: 1
  }
  95%{
    opacity:1
  }
  100% { 
    opacity: 0; 
  }
}

#rank-seats{
  position: absolute;
  bottom: -40vh;
  left: -8vw;
  width: 200vw;
  z-index: 3000;
}

#rank-stage{
  position: absolute;
  right: 0vw;
  bottom: 1vh;
  width: 100vw;
  height: 80vh;
  z-index: 1;
}

#rank-question{
  position: absolute;
  left: 51%;
  top: 20%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  color: white;
  font-size: 4vw;
  z-index: 2000;
  text-align: center;
  animation: question 3s;
  animation-fill-mode: forwards;
}

#answers-count{
  position: absolute;
  left: 51%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3vw;
  z-index: 2000;
  text-align: center;
}

@keyframes question {
  0%{
    opacity: 0;
    top: 40%;
    transform: translate(-50%, -50%)scale(0.5);
  }
  15%{
    opacity: 1;
    top: 40%;
    transform: translate(-50%, -50%) scale(2);
  }
  24%{
    top: 40%;
    transform: translate(-50%, -50%) scale(1.5);
  }
  85%{
    top: 40%;
    transform: translate(-50%, -50%) scale(1.5);
  }
  100%{
    opacity: 1;
    top: 20%;
    transform: translate(-50%, -50%) scale(1);
  }
}

#results-stage{
  position: absolute;
  right: -8vw;
  bottom: 18vh;
  width: 55vw;
  height: 40vh;
}

#question-header{
  position: absolute;
  left: 51%;
  top: 4%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  color: white;
  font-size: 3.5vw;
  z-index: 2000;
  text-align: center;
}

#most-least{
  position: absolute;
  left: 51%;
  top: 25vh;
  transform: translate(-50%, -50%);
  width: 45vw;
  z-index: 2000;
}

#players-results-container{
  position:absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50vh;
  z-index: 1000;
  padding: 1vh;
  display:flex;
  gap: 2.6vh;
}

.points{
  transform-origin: center center;
  color: white;
  font-size: 1.5vw;
  z-index: 2000;
  text-align: center;
  margin: 0px;
  padding: 6px;
  padding-right: 1.3vw;
  opacity:0;
  animation: points 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.host-controls{
  animation: points 1s;
}

@keyframes rank{
  0%{
    transform: scale(0.7)
  }
  25%{
    transform: scale(1.1)
  }
  50%{
    transform: scale(1)
  }
  100%{
    transform: scale(1)
  }
}

@keyframes points{
  0%{
    opacity: 0;
  }
  100%{
    opacity:1;
  }
}