<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/host.css">

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/socketHostClient.js" defer></script>
  <title>Lad Ladder</title>
</head>
<body>
  <nav>
    Nav
  </nav>
  <main>
    <div id="join-phase">
      <h1>
        Waiting For Players Room: <%=roomCode%>...
      </h1>
      <div id="players-container">
      </div>
      <button id="start-game" class="displayNone">Start Game</button>
    </div>
    <div id="prompting-phase" class="displayNone">
      <h1> Write your own question on your device</h1>
      <div id="questions-count"></div>
    </div>
  </main>
  <footer>
  </footer>
</body>
</html>