<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/host.css">

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/socketHostClient.js" defer></script>
  <title>Lad Ladder</title>
</head>
<body>
  <nav>
    Nav
  </nav>
  <main>
    <h1>
      Waiting For Players Room: <%=roomCode%>...
    </h1>
    <div id="players-container">
    </div>
  </main>
  <footer>
  </footer>
</body>
</html>