<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/player.css">
  <title>Lad Ladder</title>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/socketPlayerClient.js" defer></script>
</head>
<body>
  <nav>
    Nav
  </nav>
  <main id="main">
    <div id="name-phase">
      <h1>Enter your Name</h1>
      <div class="container"> 
        <input class="name-input" id="playerName" type="text">
        <button class="join-button" id="join-button">Join</button>
      </div>
    </div>
    <div id="prompt-phase"  class="displayNone">
      <h1>Write your own Question:</h1>
      <div class="input-option-flex">
        <input id = "question-input">
        <button id="good-or-bad">Good</button>
      </div>
      <div id="attribute-options">
        <button class="options arts">Arts</button>
        <button class="options athleticism">Athleticism</button>
        <button class="options attractiveness">Attractiveness</button>
        <button class="options charm">Charm</button>
        <button class="options creativity">Creativity</button>
        <button class="options empathy">Empathy</button>
        <button class="options humor">Humor</button>
        <button class="options intelligence">Intelligence</button>
        <button class="options morality">Morality</button>
        <button class="options socialSkills">Social Skills</button>
      </div>
      <button id="send-question">
        Done
      </button>
    </div>
  </main>
  <footer>
  </footer>
</body>
</html>

