<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/player.css">
  <title>Lad Ladder</title>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/socketPlayerClient.js" defer></script>
</head>
<body>
  <nav>
    Nav
  </nav>
  <main id="main">
    <div id="name-phase">
      <h1>Enter your Name</h1>
      <div class="container"> 
        <input class="name-input" id="playerName" type="text">
        <button class="join-button" id="join-button">Join</button>
      </div>
    </div>
  </main>
  <footer>
  </footer>
</body>
</html>

